* {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 53px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFF;
    text-decoration: none;
}

.subheader {
    padding-top: 17px;
    height: 84px;
    background: rgb(33, 30, 30, 0.8);
    }

.subheader .subheader_logo {
    max-width: 100%;
}

.subheader .subheader_official {
    margin-top: 3px;
    font-weight: 300;
    font-size: 13px;
    opacity: 0.7;
    color: #FFFFFF;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}

.subheader .subheader_phone {
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.subheader .subheader_btn {
    width: 162px;
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
}